.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1010px;
	padding: 26px 20px;
	width: 95%;
	margin: 0 auto;
	color: #262626;
}

.nav-search{
	border: solid 1px #dbdbdb;
	background: #fafafa;
	border-radius: 3px;
	color: #262626;
	outline: 0;
	padding: 3px 10px 3px 26px;
	z-index: 2;
	width: 175px;
	display:none;
}

@media(min-width: 600px){
	.nav-search{
		display: initial;
	}
}

.navbar-container{
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #FFF;
	border-bottom: 1px solid rgba(0, 0, 0, .0975);
	height: 77px;
	-webkit-transition: height .2s ease-in-out;
	transition: height .2s ease-in-out;
}


.nav-left{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fa-instagram{
	font-size: 28px;
	margin-right: 16px;
	border-right: 1px solid #262626;  
	padding-right: 16px;
	font-weight: 400;
}

.fa-plus-square{
	font-size: 24px;
	font-weight: 200px;
	margin-right: 5px;
}


.nav-title{
	font-size: 36px;
	font-weight: 200;
}

.fa-user {
	font-size: 24px;
	color: #262626;
	font-weight: 200;
}
