.new-post-container{
	width: 100vw;
	height: 100vh;
	background-color: white;
}

.new-post-header{
	display: flex;
	flex-direction: row;
	height: 44px;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px #dbdbdb;
}

.new-post-title{
	align-items: center;
	color: #262626;
	display: block;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	flex-grow: 1;
	justify-content: center;
	min-width: 0;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	margin: 0px;
}

.fa-times{
	font-size: 20px;
	padding-left: 20px;
	font-weight: 100px;
	cursor: pointer;
}

.new-post-upper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.new-post-submit{
	color: #3897f0;
	margin-right: 20px;
	font-size: 16px;
	margin-bottom: 0px;
	cursor: pointer;
}

.new-post-submit:hover{
	color: #2769a8;
	cursor: pointer;
}

.new-post-image-container{
	overflow: hidden;
	width: 100%;
	max-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post-preview{
	width: 100%;
	
}

.new-post-profile{
	width: 100%;
}

.new-post-avatar-box{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin: 10px 0px 10px 10px;
}


.new-post-input{
	height: 60px;
	width: 100%;
	overflow: scroll;
	margin: 10px;
	resize: none;
	border: none;
}

.post-errors{
	margin: 0;
	color: red;
	font-size: 10px;
	list-style: none;
}

.submit-disable{
	pointer-events: none;
	cursor: default;
}

@media (min-width: 425px) {
	.modal-background {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

	.modal-child {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: inherit;
		width: 400px;
		height: 650px;
	}

	.new-post-container{
		width: 400px;
		height: 500px;
	}
}
