.index-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	overflow: scroll;
}

.index-ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-content: center;
}

.index-ul > li {
	margin-bottom: 15px;
}

.post-profile{
	padding: 0;
}

.post-show-img{
	width: 100%;
	max-height: 750px;
}

.index-observer {
	height: 20px;
	position: relative;
	bottom: 1400px;
}

.post-dropdown{
	margin-right: 20px;
}

.extended-profile-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.index-right{
	display: none;
}

.index-left{
	overflow: hidden;
}



@media(min-width: 600px){
	.index-ul{
		margin-top: 15px;
	}
	.post-show-index{
		align-self: center;
		width: auto;
		max-width: 600px;
		display:flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	.index-container{
		display: flex;
		flex-direction: row;
	}
}

.post-info{
	display: grid;
}

.post-date{
	font: 10px;
	font-weight: 400;
	margin-top: 10px;
}

.caption-container{
	margin-top: 5px;
	display: inline-block;
	color: #262626;
}

.caption-username{
	display: inline-block;
	color: #262626;
	font-weight: 600;
	font-size: 14px;
	margin-right: 4px;
}

@media(min-width: 1000px){
	.index-right{
		display: block;
		margin: 11px 0px 0px 10px;
		width: 295px;
	}

	.switch-container{
		margin-top: 60px;
		position: fixed;
		margin-left: 20px;
		font-size: 10px;
		display: flex;
	}

	.index-switch {
		width: 40px;
		height: 21px;
		top: 200px;
		-ms-flex-align: center;
		align-items: center;
		margin-left: 5px;
		z-index: 1;
	}

	.index-switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 17px;
		width: 17px;
		left: 3px;
		bottom: 2px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked+.slider {
		background-color: #2196F3;
	}

	input:focus+.slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked+.slider:before {
		-webkit-transform: translateX(17px);
		-ms-transform: translateX(17px);
		transform: translateX(17px);
	}

	.slider.round {
		border-radius: 20px;
		width: 40px;
		height: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.index-left{
		width: 615px;
	}

	.post-show-img {
		height: 100%;
		max-width: 615px;
	}

	.index-profile{
		display: flex;
		flex-direction: row;
		height: 60px;
		align-items: center;
		position: fixed;
	}

	.index-profile-img-container{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 20px;
	}

	.index-profile-img-container>img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.index-names{
		display: flex;
		flex-direction: column;
		margin-left: 14px;
	}

	.index-username {
		font-size: 14px;
		font-weight: 600;
	}

	.index-name {
		font-size: 12px;
		line-height: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #999;
		margin-top: 2px;
	}

	.suggestion-container {
		position: fixed;
		top: 220px;
		margin-left: 20px;
		border: 1px solid rgb(230,230,230);
		width: 295px;
		background-color: #fff;
		border-radius: 4px;

	}

	.suggestion-title{
		color: rgba(var(--f52, 153, 153, 153), 1);
		font-size: 14px;
		line-height: 18px;
		margin: 10px 0px -15px 10px;
	}

	.suggestion-list{
		flex-direction: column;
	}

	.suggestion-list > li {
		height: 50px;
	}	

	.suggestion-name-container{
		display: flex;
		flex-direction: column;
		font-size: 12px;
		margin-left: 10px;
		color: #999999;
	}

	.suggestion-name{
		font-size: 14px;
		margin: 0;
	}
}