.post-show-container{
	width: 100vw;
	overflow: hidden;
}

.post-show-mobile{
	display: flex;
	flex-direction: column;
}

.post-profile{
	display: flex;
	flex-direction: row;
	height: 60px;
	align-items: center;
}

.post-profile-img-container{
	width: 32px;
	height: 32px;
	padding: 16px;
}

.post-profile-name{
	font-size: 14px;
}


.post-profile-img-container > img {
		height: 100%;
		width: auto;
}

.post-show-desktop{
	display: none;
}

.post-show-img-container{
	height: 100vw;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: fit-content;
	align-self: center;
}

.post-show-img-container > img {
	height: 100%;
}

.post-info-icon {
	font-size: 24px;
	padding: 10px;
}

.post-likes-container{
	font-size: 14px;
	display: inline-flex;
	padding-left: 10px;
}

.post-likes{
	padding: 0px 4px;
	color: black;
	font-size: 14px;
	margin-bottom: 0px;
}

.post-date{
	font-size: 10px;
	letter-spacing: .2px;
	line-height: 18px;
	color: #999;
	margin: 5px 0px 5px 10px;
	text-transform: uppercase;
	
}

@media(min-width: 725px){
	.post-show-container{
		width: 100vw;
		display:flex;
		flex-direction: row;
		justify-content: center;
		background-color: red;
	}

	.post-show-mobile{
		display: none;
	}

	.post-show-img-container{
		height: 100%;
	}

	.post-show-desktop{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	 .post-show-desktop-left{
		 width: 90%;
		 max-width: 600px;
		 max-height: 600px;
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
	 }

	.post-show-desktop-right{
		width: 350px;
	}


}