.post-show-container{
	width: 100%;
	overflow: scroll;
}

.post-show-mobile{
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 150px);
}

.post-profile{
	display: flex;
	flex-direction: row;
	height: 60px;
	align-items: center;
}

.post-profile-img-container{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 20px;
}

.post-profile-name{
	font-size: 14px;
}


.post-profile-img-container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.post-show-desktop{
	display: none;
}

.liked-heart{
	color: #ea404c;
}

/* .post-show-img-container{
	height: 100vw;
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	width: fit-content;
	align-self: center;
} */

.post-show-img {
	object-fit: contain;
	max-height: 500px;
}

.post-info-icon {
	font-size: 24px;
	padding: 8px;
}

.post-likes-container{
	font-size: 14px;
	display: inline-flex;
	padding-left: 10px;
}

.post-likes{
	padding: 0px 4px;
	color: black;
	font-size: 14px;
	margin-bottom: 0px;
}

.post-date{
	font-size: 10px;
	letter-spacing: .2px;
	line-height: 18px;
	color: #999;
	margin: 5px 0px 5px 10px;
	text-transform: uppercase;
}

.extended-profile-container{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #efefef;
}

.profile-container{
	border-bottom: 1px solid #efefef;
}


@media only screen and (max-width: 725px){
	.post-profile{
		 	padding: 5px 0px;
	}
}

@media(min-width: 725px){
	.post-show-container{
		align-self: center;
		width: auto;
		min-height: 450px;
		max-width: 950px;
		display:flex;
		flex-direction: row;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	.post-show{
		margin-top: 50px;
	}

	.post-show-mobile{
		display: none;
	}

	.post-show-desktop{
		width: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.post-show-desktop-left{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.post-show-img{
		width: calc(90vw - 350px);
		object-fit: contain;
		max-width: calc(950px - 350px);
	}

	/*.post-show-img-container{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	} */

	.post-show-desktop-right{
		width: 325px;
		min-width: 325px;
		max-width: 325px;
		border-left: 1px solid #efefef;
	}

}

.modal-child{
	background: white;
}