.index-ul {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.index-ul li {
	margin-bottom: 15px;
}

.post-profile{
	padding: 0;
}

.post-show-img{
	width: 100%;
	max-height: 750px;
}

.index-observer {
	height: 20px;
	position: relative;
	bottom: 1200px;
	z-index: 100;
	background: red;
	width: 300px;
}


@media(min-width: 600px){
	.index-ul{
		margin-top: 15px;
	}
	.post-show-index{
		align-self: center;
		width: auto;
		max-width: 600px;
		display:flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	.index-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}