.index-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.index-ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	align-content: center;
}

.index-ul > li {
	margin-bottom: 15px;
}

.post-profile{
	padding: 0;
}

.post-show-img{
	width: 100%;
	max-height: 750px;
}

.index-observer {
	height: 20px;
	position: relative;
	bottom: 1400px;
}

.post-dropdown{
	margin-right: 20px;
}

.extended-profile-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.index-right{
	display: none;
}

.index-left{
	overflow: hidden;
}

@media(min-width: 600px){
	.index-ul{
		margin-top: 15px;
	}
	.post-show-index{
		align-self: center;
		width: auto;
		max-width: 600px;
		display:flex;
		flex-direction: column;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	.index-container{
		display: flex;
		flex-direction: row;
	}
}

@media(min-width: 1000px){
	.index-right{
		display: block;
	}

	.index-profile{
		display: flex;
		flex-direction: row;
		height: 60px;
		align-items: center;
	}

	.index-profile-img-container{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 20px;
	}

	.index-profile-img-container>img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.index-profile-name {
		font-size: 14px;
		margin-left: 10px;
		font-weight: 600;
	}




}